{% extends "blog/base.html" %}                             <!-- 0.10 Template inheritance -->
{% block title %}My Blog{% endblock %}

{% block content %}

<h1>My blog</h1>

{% if tag %}                                              <!-- 3.11 TAG display -->
<h2>Post tagged with "{{tag.name}}"</h2>
{% endif %}

{% for post in posts %}                                   <!-- 9.12 PAGINATION loop -->
<div class="post">

    <h2>
        <a href="{{post.get_absolute_url}}">              <!-- 7.11 ABSOLUTE URL -->
            {{post.title}}
        </a>
    </h2>

    <p class="date">
        Published {{post.publish}} by {{post.author}}     <!-- 2.29 STATUS-related publish info -->
    </p>

    {{post.body|truncatewords:30|linebreaks}}             <!-- 2.30 Content display -->

    <p class="tags">
        {% if post.tags.count %}Tags:{% endif %}          <!-- 3.12 TAG usage -->

        {% for tag in post.tags.all %}                    <!-- 3.13 Loop tags -->
            <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> <!-- 3.14 TAG URL -->
                {{tag.name}}
            </a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>

</div>
{% endfor %}

{% include "pagination.html" with page=posts %}           <!-- 9.13 PAGINATION UI -->

{% endblock %}